body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
}

h3 {
  color: #333;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input,
select,
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button:hover{
  background-color: #f4f4f4;
  color: #333;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[readonly] {
  background-color: #eee;
  cursor: not-allowed;
}

